* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  display: flex; 
  flex-direction: column; 
}

.container {
  width: 100%;
  max-width: 100%; 
  margin: 0 auto; 
  padding: 0; 
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}

.btn-container button{
  margin-top: 7px;
}

.film {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; 
}

.title-container{
  display: flex;
  margin-bottom: 7px;
}

.vote{
  font-weight: bold;
  margin-left: 7px;
}

.poster-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 300ms linear;
}

.description{
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 400px;
  bottom: 0;
  background-color: #ffffff;
  color: black;
  padding: 15px;
  height: 500px;
  transform: translateY(500px);
  transition: transform 300ms linear;
}

.poster-container:hover .description{
  transform: translateY(0);
}

.title-overview{
  font-weight: bold;
  margin: 7px 0;
}

.genres{
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.ul-genre{
  display: flex;
  list-style: none;
}

.li-genre{
  margin: 0 5px;
}

.div-vote{
  background-color: #050505;
  border-radius: 5px;
  padding: 0px 5px;
}
.options label{
  margin: 10px 7px;
}